* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	background-color: rgba(0, 0, 150, 0.3);
	background-image: url(/images/headerbi6.jpg);
	background-blend-mode: multiply;
	
}

a {
	text-decoration: none;
}

h2 {
	text-align: center;
	font-size: 1.5em;
	margin: 20px;
	font-size: 2em;
	color: blue;
	margin-bottom: 30px;
}

p {
	font-size: 1.5em;
	margin-left: 5%;	
	color: white;
	margin-bottom: 10px;
	text-align: center;
}

div {
	float: right;
	border: 2px solid blue;
	padding: 10px;
}

#dv_logout {
	background-color: blue;
	
}
a {	
	color: white;
}

.template {
	float: left;
	width: 100%;
	margin-top: 20px;

}

img {
	width: 10%;
	float: left;
}

h1 {
	margin-bottom: 50px;
}